body {
  margin-top: 53px;
  background-color: #e7e7e7;
}
.fangxin-header {
  background-color: #8A2BE2;
  color: #fff;
}
.container {
  background-color: white;
}
#custom-bootstrap-menu  .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu  {
    font-size: 12px;
    background-color: rgba(0, 0, 0, 1);
    border-bottom-width: 1px;
}
#custom-bootstrap-menu  .navbar-nav>li>a {
    color: rgba(221, 221, 221, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu  .navbar-nav>li>a:hover,
#custom-bootstrap-menu  .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu  .navbar-nav>.active>a,
#custom-bootstrap-menu  .navbar-nav>.active>a:hover,
#custom-bootstrap-menu  .navbar-nav>.active>a:focus {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(231, 231, 231, 1);
}
#custom-bootstrap-menu  .navbar-toggle {
    border-color: #ddd;
}
#custom-bootstrap-menu  .navbar-toggle:hover,
#custom-bootstrap-menu  .navbar-toggle:focus {
    background-color: #ddd;
}
#custom-bootstrap-menu  .navbar-toggle .icon-bar {
    background-color: #888;
}
#custom-bootstrap-menu  .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu  .navbar-toggle:focus .icon-bar {
    background-color: #000000;
}
.container {
  border: 1px solid #8A2BE2;
}

.btn-group .btn {
  border-radius: 0px;
}
